In [5]:
import pandas as pd
from app.config import DATA_DIR

In [6]:
transactions = pd.read_csv(DATA_DIR / "transactions.csv",parse_dates=["Date"])

In [7]:
transactions.columns

Index(['Transaction code', 'Date', 'Amount', 'Balance', 'Type', 'Direction',
       'Account ID', 'Account Name', 'Original Transaction'],
      dtype='object')

In [8]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2916 entries, 0 to 2915
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction code      2916 non-null   object
 1   Date                  2916 non-null   datetime64[ns]
 2   Amount                2916 non-null   float64
 3   Balance               2916 non-null   float64
 4   Type                  2916 non-null   object
 5   Direction             2916 non-null   object
 6   Account ID            2916 non-null   object
 7   Account Name          2916 non-null   object
 8   Original Transaction  2702 non-null   object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 205.2+ KB

### Total Cash Flow Through MPESA

#### Amount of money received in the whole period

In [9]:
transactions[transactions.Direction == "In"]["Amount"].sum()

np.float64(1647105.63)

#### Amount of money sent in the whole period

In [10]:
transactions[transactions.Direction == "Out"]["Amount"].sum()

np.float64(1623798.52)

In [11]:
w_charges = set(transactions.loc[transactions["Type"] == "Withdrawal Charges"]["Transaction code"])
w_transactions = set(transactions.loc[transactions["Type"] == "Withdraw Money"]["Transaction code"])

In [12]:
w_transactions - w_charges

{'RLT3J51QM5',
 'SA31XJC949',
 'SA34ZPQ7F6',
 'SA38ZT179W',
 'SAG8712COW',
 'SAM9RFGF15',
 'SAP43IMT20',
 'SAV8MTMJHO',
 'SB6585N3GZ',
 'SB85H1NPY5',
 'SB85H4ZOBJ',
 'SBA2OGIAN6',
 'SBE523V0YF',
 'SBJ4JC7BQY',
 'SBL5S4I4P1',
 'SBP64T0XDC',
 'SBR6D2SLAW',
 'SC24S2FR2K',
 'SCD6WNPG5A',
 'SCI9DPHYAZ',
 'SCK7KSMPON',
 'SCN1X9UVOJ',
 'SCT6ISFIPW',
 'SD28VL8346',
 'SD83IH4M2P',
 'SDA5QIXVVB',
 'SDC1Y6FYU7',
 'SDH3GL2ADB',
 'SDH9FHWNRF',
 'SE11V2X6OZ',
 'SE321W77NC',
 'SE53AXRUFX',
 'SE69CO6TNP',
 'SEK9TQDVV9',
 'SEV2ZW893K',
 'SF57H2DF0P',
 'SF70PQPR0M',
 'SFF4KWSU0E',
 'SFT6ZF5N1C',
 'SG60SBMK7W',
 'SGB1B6QOMR',
 'SGK49XFA6Q',
 'SH35SLZXZ3',
 'SHH9D7QZ8P',
 'SI77QS6IYP',
 'SIC4DO4T8Q',
 'SIF0P2YZ3G',
 'SIM7HOB70D',
 'SJ36RZCW28',
 'SJE11PLX47',
 'SJL6WDE1NI',
 'SKJ8D30MX2',
 'SKN0UTG8NY',
 'SKS6ENJ6HC',
 'SL52BH3O4I',
 'SL63H877QN',
 'SLD6DDXRGY',
 'SLH8RHW7I2',
 'SLN4JR53ZK'}

In [13]:
transactions.loc[transactions["Type"] == "Withdraw Money"].shape

(59, 9)

In [14]:
transactions.Type.unique()

array(['Send money', 'Safaricom Charges', 'Paybill', 'Receive money',
       'Pochi la Biashara', 'Airtime', 'Buy Goods', 'Withdraw Money',
       'M-Shwari Loan', 'Receive money from bank/org',
       'International Money Transfer Sent',
       'International Money Transfer Receipt', 'Deposit Cash',
       'No description', 'Daraja', 'Reversal', 'M-Shwari'], dtype=object)

In [15]:
transactions[transactions.Type == "Unidentified"]["Original Transaction"].unique()

array([], dtype=object)

In [16]:
transactions["Account ID"].unique()

array(['07******374', 'Safaricom', '888880', '2547******189',
       '07******564', '2547******383', '2547******886', '2547******634',
       '07******007', '07******500', '2547******686', '6212558',
       '07******603', '2547******865', 'Agent Till 163608', '6419322',
       '7766630', '5335416', '2547******834', '2547******467',
       '2547******653', 'Agent Till 603749', '7310394', '2547******599',
       '130341', '2547******730', '07******841', '2547******301',
       '2547******139', '2547******543', '644028', '2547******818',
       '2547******506', '07******906', '2547******617', '5128456',
       '07******258', '522533', '2547******802', '2547******101',
       '2547******616', '2547******341', '2547******282', '2547******450',
       '07******242', '255255', '2547******018', 'Agent Till 750403',
       '07******249', '7693694', '522522', '2547******673', '07******401',
       '2547******912', '2547******737', '2547******520', '07******772',
       '07******151', '8045243', '2547******367', '2547******947',
       '2547******363', '07******698', '07******650', 'Agent Till 163221',
       '5428754', '6740409', '4090833', '300600', '3036635',
       'Agent Till 636443', '07******706', '07******439', '07******471',
       '07******867', '6747519', '2547******944', '2547******688',
       '07******294', '2547******212', '07******595', '6721481',
       '07******566', '515026', '07******143', '2547******548',
       '07******048', '2547******195', '866528', '2547******810',
       '2547******660', '2547******983', '2547******001', '2547******162',
       '2547******939', '2547******412', '07******479', '07******680',
       '07******561', '2547******463', '2547******094', '5116590',
       '07******036', '558635', '2547******185', '07******351',
       '2547******647', '07******705', '2547******846', '2547******549',
       'Agent Till 489008', '07******715', '2547******141',
       '2547******537', '2547******761', '7977520', '2547******414',
       '7434091', '07******204', '2547******059', '07******445',
       '2547******183', '7288481', '2547******729', '247247', '5448824',
       '2547******167', '2547******087', '2547******808',
       'Agent Till 226033', '2547******063', '07******046', 'Customer',
       '2547******259', '2547******240', '661530', '07******683',
       '07******096', '2547******318', '07******501', '07******835',
       '01******087', 'Agent Till 2157085', '2547******630',
       '2547******043', '4120463', '7629439', '2547******326', '859551',
       '6516530', '2547******774', '07******822', '2547******121',
       '4093275', '07******077', '07******053', '2547******881',
       '7067197', '2547******610', '6650861', '07******099',
       '2547******969', '2547******734', '2547******909', '07******948',
       '01******926', '07******402', '2547******137', '220333', '583373',
       '2547******956', '2547******053', 'yaya', '2547******283',
       '07******183', '2547******145', '2547******321', '6257937',
       '2547******441', '2547******281', '6491893', '07******312',
       '7920152', '07******774', '840020', '295028', '07******557',
       '2547******696', '541400', '222111', '2547******264',
       '2547******590', '2547******821', '07******974', '6739194',
       '2547******868', '2547******755', '2547******963', '2547******055',
       '859528', '2547******163', '2547******153', 'Agent Till 410051',
       '604986', '6648072', '7398269', '07******701', '2547******144',
       '2547******919', '244441', '2547******255', '400200',
       '2547******902', '2547******207', '2547******871', '2547******285',
       '2547******671', '2547******308', '07******764', '2547******332',
       '480587', '113791', '07******610', '07******538', '07******108',
       '2547******454', '2547******849', 'Agent Till 041049',
       '2547******118', '2541******789', '07******729', '7004783',
       '2547******260', '07******750', '6854741', '6678217',
       '07******686', '07******935', '2547******278', '07******617',
       '2547******612', '01******077', '07******028', '07******868',
       '2547******782', '2547******395', '01******114', '2547******570',
       '2547******741', '959959', '2547******843', '07******677',
       '2547******275', '07******173', '2547******196', '07******065',
       '07******427', '2547******580', '2547******967', '2547******701',
       '2547******166', '2547******799', '809719', '2547******844',
       '6788958', '2547******783', '07******198', '2547******706',
       '2547******008', '07******933', '07******186', '2547******215',
       '2547******767', '07******032', '2547******738', '2547******883',
       '2547******440', '8022127', '7734180', '7941095', '2547******294',
       '7203691', '2541******679', '07******631', '2547******641',
       '2547******508', 'Agent Till 235466', '07******943', '07******628',
       '2547******936', '2547******351', '07******058', '07******000',
       '2547******476', '5140386', '2547******611', '2547******267',
       '6900205', '2547******975', '137145', '2547******639',
       '2547******682', '7344581', 'Agent Till 362920', '2547******083',
       '6356029', 'Agent Till 028287', '2547******681', '07******464',
       '07******266', '07******381', '6300301', '2547******460',
       '2547******295', '2547******900', '07******276', '07******546',
       '6349839', 'Agent Till 050423', '2547******649', '2547******429',
       '7315052', '501901', '2547******679', '826915', '2547******731',
       '07******590', '6862291', '01******222', '07******787',
       '2547******842', '5002460', '7036719', '192128', '119497',
       '2547******985', '2547******727', '6382460', '2547******376',
       '2547******075', '07******728', '07******673', '2547******614',
       '2547******928', '2547******836', '7822614', '2547******658',
       '5039692', '01******045', '2547******661', '07******086',
       '07******921', '7743576', '2547******009', '07******330',
       '2547******693', '2547******884', '6780877', '7855282',
       '07******378', '2547******705', '07******889', '2547******499',
       '5127944', '07******447', '888888', '5084394', '2547******157',
       '7596339', '7104480', '07******145', '972018', '07******897',
       '222222', 'Agent Till 2001227', '7116013', '151261', '7973094',
       '2541******207', '6740413', '2547******105', '838225', '754951',
       '2547******198', '07******842', '2547******848', '174379',
       '2547******832', '01******763', '07******025', '2547******622',
       '7865067', '719597', '2547******316', '6227790', '2547******027',
       '2547******025', '716163', '07******240', '07******469',
       '01******573', '2547******995', '4267868', '01******760',
       '2547******136', '7049337', '2547******489', '590789',
       '2547******613', '2547******889', '2547******048', '07******981',
       '2547******723', '01******302', 'Agent Till 236039',
       '2547******390', '2547******090', '2547******866', '2547******742',
       '6171720', '07******069', '2547******439', '2547******248',
       '2547******567', '07******122', '07******150', '07******691',
       '07******651', '2547******560', '2547******812', '07******124',
       '07******788', 'Agent Till 169859', '2547******819',
       '2547******050', '6401101', '2547******438', '07******937',
       '2541******337', 'Agent Till 2027426', '2547******100',
       '07******899', '6491892', '2547******575', '6392780',
       '2547******040', '2547******979', '2547******453', '876836',
       '6403545', '2547******867', '6318259', '6710441', '07******137',
       '2547******725', '07******354', 'The', '2547******223',
       '2547******270', '07******001', '2547******744', '07******768',
       '303031', '07******960', '7293657', '07******449', '01******985',
       '2547******254', '07******233', '07******319', '07******801',
       '6296593', '6084569', 'Agent Till 038433', '2547******690',
       '2547******595', '2547******650', '07******140', '07******433',
       '07******326', '5002461', '2547******732', '2547******431',
       '07******310', '07******726', '07******869', '07******244',
       '07******295', '07******290', '07******757', '2547******310',
       '07******393', 'Agent Till 423008', '2547******471', '07******559',
       '925856', '2547******572', '2547******517', '07******511',
       '2547******369', '2547******234', '07******405', '07******562',
       'Business 323293', '07******587', '718657', '07******613',
       '167159', '07******709', '07******865', 'Agent Till 392699',
       '07******063', '2547******241', '2547******003', '7053089',
       '2547******160', '2547******017', '07******582', '2547******156',
       '2547******092', '2547******625', '2547******158', '07******118',
       '2547******805', '2547******466', '2547******825', '2547******631',
       '6385321', '2547******905', '07******578', '7525101',
       '07******762', '2547******915', '2547******752', '2547******032',
       '07******182', '2547******502', '2547******491', '7053095',
       '7924662', '07******526', '07******766', '6563266',
       '2547******670', '07******755', '6810373', '07******213',
       '2547******550', '7097831', '2547******712', '630640', '339888',
       '6072546', '2547******720', '303574', '07******604',
       '2547******404', '7362068', '07******404', '942237', '7062246',
       '07******495', 'Agent Till 382414', 'Agent Till 365145',
       '07******659', '7527036', 'Agent Till 104403', '07******653',
       '07******282', '01******484', '2547******220', '01******944',
       '2547******262', '07******421', '2547******213', '07******502',
       '07******264', '843969', 'Agent Till 280988', '2547******361',
       'Agent Till 041889', 'Agent Till 3000942', '2547******051',
       '2547******134', '7657197', '07******600', '2547******778',
       '2547******128', '689974', 'Agent Till 028249',
       'Agent Till 038417', '2547******179', '4194792', '2547******322',
       '2547******377', 'Agent Till 137826', '6127327', '7882456',
       '7662378', '2547******781', '6782263', '7930669', '2541******088',
       '303030', '2547******565', '07******583', 'Agent Till 256492',
       '07******364', '2547******584', '7527617', '07******688',
       '7302152', '07******406', '07******317', '07******926',
       'Agent Till 193830', '852648', '07******154', '01******675',
       '2547******249', '987550', '7380473', 'Agent Till 2016445',
       '2547******899', '2547******005', '01******127', '824941',
       '2547******358', '07******408', '2547******657', '2547******623',
       '01******884', 'Westgate', '2547******505', '7016794',
       '2547******717', '2547******966', '07******039', '2547******603',
       '2547******252', '2547******333', 'Agent Till 3000865',
       '07******738', '2547******190', '2547******495', '2547******638',
       '07******413', '2547******672', '2547******500', '2547******770',
       '6184470', '2547******180', '2547******031', '01******663',
       '2547******927', '01******397', '2547******924', '2547******689',
       '2547******056', '7750184', '779959', '180175',
       'Agent Till 367621', '2547******514', '276663', '7099197',
       '07******072', '6250913', '2547******644', '7046086', '780802',
       'Agent Till 116450', '07******880', '2547******447', '4122759',
       'Agent Till 089435', '2547******918', '07******485',
       '2547******746', 'Agent Till 459355', '2547******371',
       '2547******357', '2547******344', '2547******067', '7127496',
       '07******409', '2547******577', '07******629', '7528049', '504528',
       'K&A', '2547******205', '7847604', '7056958', '2547******405',
       'Agent Till 437057', 'Agent Till 370020', 'Agent Till 361607',
       '2547******311', '6108159', '2547******955', '2547******461',
       '07******519', '6305362', '748658', '2547******014', '847092',
       '784398', '197788', '2547******785', '6023631', '6189019',
       'Agent Till 391746', '01******510', '7598104', '07******293',
       '7266573', 'Agent Till 089456', '2547******743', '2547******396',
       '2547******942', '6373534', '2547******272', '817600', '175145',
       '2547******024', '07******656', '2547******887', '2547******872',
       '542542', '2547******402', '2547******110', '01******347',
       '2547******736', '2547******576', '7682059', '2547******525',
       '7646487', 'Agent Till 385482', 'Agent Till 078247',
       'Agent Till 417479'], dtype=object)

In [17]:
transactions[transactions["Date"]>"2024-12-12"]

,Transaction code,Date,Amount,Balance,Type,Direction,Account ID,Account Name,Original Transaction
0,SLS85T3UIS,2024-12-28 17:14:15,50.0,9573.02,Send money,Out,07******374,Kevin Kuya,Customer Transfer to - 07******374 Kevin Kuya
1,SLR73F2QIX,2024-12-27 22:56:45,5.0,9623.02,Safaricom Charges,Out,Safaricom,Safaricom,Pay Bill Charge
2,SLR73F2QIX,2024-12-27 22:56:45,300.0,9628.02,Paybill,Out,888880,KPLC PREPAID Acc. 54607518138,Pay Bill Online to 888880 - KPLC PREPAID Acc. ...
3,SLR93EZMK5,2024-12-27 22:55:21,330.0,9928.02,Receive money,In,2547******189,HANNAH KAMAU,Funds received from - 2547******189 HANNAH KAMAU
4,SLP0TLJO9S,2024-12-25 17:26:22,30.0,9598.02,Pochi la Biashara,Out,07******564,fred kingoina,Customer Payment to Small Business to - 07****...
...,...,...,...,...,...,...,...,...,...
99,SLC87UTG74,2024-12-12 16:45:03,5.0,498.02,Safaricom Charges,Out,Safaricom,Safaricom,Pay Bill Charge
100,SLC87UTG74,2024-12-12 16:45:03,300.0,503.02,Paybill,Out,522522,KCB Paybill AC Acc. 7551712,Pay Bill to 522522 - KCB Paybill AC Acc. 7551712
101,SLC87U60Q4,2024-12-12 16:40:40,225.0,803.02,Buy Goods,Out,7766630,JANE NYOKABI KINGORI,Merchant Payment to 7766630 - JANE NYOKABI KIN...
102,SLC67T08D4,2024-12-12 16:32:50,20.0,1028.02,Airtime,Out,Safaricom,Safaricom,Airtime Purchase
103,SLC37PU68R,2024-12-12 16:10:41,1000.0,1048.02,Receive money from bank/org,In,5335416,Andrew Kamau Kimani,Receive funds from 5335416 - Andrew Kamau Kimani

In [18]:
transactions.Type.unique()

array(['Send money', 'Safaricom Charges', 'Paybill', 'Receive money',
       'Pochi la Biashara', 'Airtime', 'Buy Goods', 'Withdraw Money',
       'M-Shwari Loan', 'Receive money from bank/org',
       'International Money Transfer Sent',
       'International Money Transfer Receipt', 'Deposit Cash',
       'No description', 'Daraja', 'Reversal', 'M-Shwari'], dtype=object)

In [19]:
transactions.Type.unique()

array(['Send money', 'Safaricom Charges', 'Paybill', 'Receive money',
       'Pochi la Biashara', 'Airtime', 'Buy Goods', 'Withdraw Money',
       'M-Shwari Loan', 'Receive money from bank/org',
       'International Money Transfer Sent',
       'International Money Transfer Receipt', 'Deposit Cash',
       'No description', 'Daraja', 'Reversal', 'M-Shwari'], dtype=object)

In [20]:
transactions[transactions["Type"]=="Airtime"]["Account Name"].unique()

array(['Safaricom'], dtype=object)

In [21]:
transactions.loc[(transactions["Type"] == 'Withdraw Money') & (transactions["Direction"]=="Out"),["Amount","Account Name"]].groupby('Account Name',group_keys=False).sum().nlargest(10,"Amount")

                                                     Amount
Account Name
Comet Cyber Sleeping Beauty                         29500.0
CORAL LAND TKEY 2 EXTREME KIWHA B CENTRE NGARA RD    5900.0
Pure Logics Deutro shop Muindi KENYATTA AVENUE       5000.0
Bizarre link Ltd Tuikut Market Westgate Shop Agg     4500.0
Copam Enterprises Belleza Beauty Point Accra Rd...   4000.0
Isotech Interconnections Sagret Hotel EXT            3000.0
Visina Enter Jb Investments Shop Kitale Agg          2500.0
Willas Construction Co LtdCORNER SHOP DAGORETTI...   2050.0
Danico Comm Waken Shop Mutuini Shopping centre agg   2000.0
Latest Communication Meru Stage                      1700.0

In [22]:
transactions.loc[(transactions["Type"] == "Receive money") & (transactions["Direction"]=="In"),["Amount","Account Name"]].groupby('Account Name',group_keys=False).sum().nlargest(10,"Amount")

                                            Amount
Account Name
HANNAH KAMAU                               77030.0
SALIM MWACHIDZUGA                          45680.0
ABIGAEL JEPKOSGEI                          45660.0
JOAN MUOKI                                 45615.0
ANN WASILWA                                45580.0
IDA ONYANGO                                45500.0
ZIMELE UNIT TRUST - FIXED INCOME FUND B2C  35500.0
PATRICIA KIMANI                            32000.0
casmir maturi                              32000.0
Edwin Kabue                                31798.0

In [23]:
mask = (transactions["Account Name"].str.contains("MALI")) & (transactions["Direction"]=="Out" )
transactions.loc[mask, "Account Name"]

506     MALI Acc. 0702605230_401449
546     MALI Acc. 0702605230_401449
909     MALI Acc. 0702605230_401449
1136    MALI Acc. 0702605230_401449
1177    MALI Acc. 0702605230_401449
1262    MALI Acc. 0702605230_401449
1300    MALI Acc. 0702605230_401449
1327    MALI Acc. 0702605230_401449
1361    MALI Acc. 0702605230_401449
1365    MALI Acc. 0702605230_401449
1370    MALI Acc. 0702605230_401449
1390    MALI Acc. 0702605230_401449
1413    MALI Acc. 0702605230_401449
1506    MALI Acc. 0702605230_401449
1560    MALI Acc. 0702605230_401449
1563    MALI Acc. 0702605230_401449
1569    MALI Acc. 0702605230_401449
1571    MALI Acc. 0702605230_401449
1576    MALI Acc. 0702605230_401449
1608    MALI Acc. 0702605230_401449
1672    MALI Acc. 0702605230_401449
1678    MALI Acc. 0702605230_401449
1690    MALI Acc. 0702605230_401449
Name: Account Name, dtype: object

In [24]:
transactions.loc[(transactions["Type"] == "Send money") & (transactions["Direction"]=="Out"),["Amount","Account Name"]].groupby('Account Name',group_keys=False).sum().nlargest(20,"Amount")

                  Amount
Account Name
CLINTON OMBIRO   79500.0
Edwin Kabue      41805.0
SAMUEL MUKUI     30000.0
jane atemo       25600.0
VIOLET KABEI     25551.0
PAUL KAMAU       24158.0
DAISY MURIMI     10350.0
JOY NGUGI         7750.0
Lincoln Simiyu    6930.0
Olvan Ouma        6569.0
Rita Omondi       6400.0
HANNAH KAMAU      6000.0
CALVIN KAMAU      5545.0
Virginia Kamau    5285.0
Faith Kirigi      3700.0
Claudia kamau     3030.0
JOSEPH NDEGWA     3000.0
OLVAN OUMA        3000.0
LLOYD MUKONO      2508.0
DANIEL WANYOIKE   2500.0

In [25]:
transactions.loc[(transactions["Type"] == "Paybill") & (transactions["Direction"]=="Out"),["Amount","Account Name"]].groupby('Account Name',group_keys=False).sum().nlargest(10,"Amount")

                                             Amount
Account Name
MALI Acc. 0702605230_401449                380963.0
M- PESA GLOBAL. Acc. 256773347169          116166.0
Equity Paybill Account Acc. 0702605230      51050.0
CAPE PROPERTIES VIA CO-OP Acc. NO2          48100.0
NETCOM FIBRE INTERNET LIMITED Acc. 532      17500.0
CAPE PROPERTIES VIA CO-OP Acc. gachie no2   16700.0
E- CITIZEN Acc. LMBQJWV                      9650.0
DELIGHTFUL FIBER LTD Acc. 7111               8000.0
GAB COLLECT Acc. 488888                      6000.0
Equity Paybill Account Acc. 0766212221       5850.0

In [26]:
transactions.loc[transactions["Type"] == "Send money",["Amount","Account Name",'Account ID']].groupby(['Account Name','Account ID']).sum().nlargest(10,"Amount")

                               Amount
Account Name   Account ID
CLINTON OMBIRO 07******381    79500.0
Edwin Kabue    07******561    41805.0
SAMUEL MUKUI   2547******900  30000.0
jane atemo     07******186    25600.0
VIOLET KABEI   2547******053  25551.0
PAUL KAMAU     2547******137  17158.0
DAISY MURIMI   2547******549  10350.0
JOY NGUGI      2547******886   7750.0
PAUL KAMAU     2547******611   7000.0
Lincoln Simiyu 07******240     6930.0

In [27]:
transactions.loc[transactions["Direction"]== "In",["Account Name"]].groupby(["Account Name"]).value_counts().nlargest(10)

Account Name
Equity Bulk Account via API.    99
MALI. via API.                  44
Safaricom                       34
Edwin Kabue                     30
LLOYD MUKONO                    19
Andrew Kamau Kimani             17
HANNAH KAMAU                    17
Virginia Kamau                   9
CALVIN KAMAU                     7
KCB 1 via API.                   4
Name: count, dtype: int64

In [44]:
transactions.iloc[0]["Date"].date()

datetime.date(2024, 12, 28)

In [29]:
transactions.groupby(["Account Name","Type"])["Amount"].sum().nlargest(10).to_dict()

{('MALI. via API.', 'Receive money from bank/org'): 385614.0,
 ('MALI Acc. 0702605230_401449', 'Paybill'): 380963.0,
 ('Equity Bulk Account via API.', 'Receive money from bank/org'): 358170.0,
 ('Andrew Kamau Kimani', 'Receive money from bank/org'): 121029.0,
 ('M- PESA GLOBAL. Acc. 256773347169', 'Paybill'): 116166.0,
 ('Safaricom', 'M-Shwari'): 90203.0,
 ('MUMBI HOUSE PHARMACEUTICALS LTD', 'Buy Goods'): 84785.0,
 ('CLINTON OMBIRO', 'Send money'): 79500.0,
 ('HANNAH KAMAU', 'Receive money'): 77030.0,
 ('Equity Paybill Account Acc. 0702605230', 'Paybill'): 51050.0}

In [127]:
transactions.loc[transactions.Direction == "In"].groupby("Account ID").Amount.sum().nlargest(10)

Account ID
859551           385614.0
300600           358170.0
5335416          121029.0
2547******189     77030.0
Safaricom         50198.0
151261            48377.0
295028            47773.0
2547******613     45680.0
2547******723     45660.0
2547******027     45580.0
Name: Amount, dtype: float64

In [128]:
transactions.loc[transactions["Direction"]== "In",["Account Name","Amount", "Account ID"]].groupby(["Account Name","Account ID"]).sum().nlargest(10,"Amount")

                                                         Amount
Account Name                            Account ID
MALI. via API.                          859551         385614.0
Equity Bulk Account via API.            300600         358170.0
Andrew Kamau Kimani                     5335416        121029.0
HANNAH KAMAU                            2547******189   77030.0
Safaricom                               Safaricom       50198.0
STANBIC  BANK.                          151261          48377.0
Safaricom International Money Transfer. 295028          47773.0
SALIM MWACHIDZUGA                       2547******613   45680.0
ABIGAEL JEPKOSGEI                       2547******723   45660.0
ANN WASILWA                             2547******027   45580.0

In [129]:
transactions.loc[(transactions["Type"]=="Airtime")]

,Transaction code,Date,Amount,Balance,Type,Direction,Account ID,Account Name,Original Transaction
10,SLO1P0VEGF,2024-12-24 17:36:11,20.0,1758.02,Airtime,Out,Safaricom,Safaricom,Recharge for Customer to 4093441SAFARICOM DATA...
11,SLO6P0PSC6,2024-12-24 17:35:25,20.0,1778.02,Airtime,Out,Safaricom,Safaricom,Recharge for Customer to 4093441SAFARICOM DATA...
12,SLO5OLHTNL,2024-12-24 16:15:13,15.0,1798.02,Airtime,Out,Safaricom,Safaricom,Customer Bundle Purchase to 4093441SAFARICOM D...
14,SLO9O9UF33,2024-12-24 15:08:30,20.0,1913.02,Airtime,Out,Safaricom,Safaricom,Recharge for Customer to 4093441SAFARICOM DATA...
15,SLO5NUAKJD,2024-12-24 13:37:52,20.0,1933.02,Airtime,Out,Safaricom,Safaricom,Airtime Purchase
...,...,...,...,...,...,...,...,...,...
2892,SA34XJDQTY,2024-01-03 09:44:54,75.0,3015.66,Airtime,Out,Safaricom,Safaricom,Buy Bundles
2895,SA36XIJ0A6,2024-01-03 09:36:12,20.0,3619.66,Airtime,Out,Safaricom,Safaricom,Airtime Purchase
2896,SA10TJGY2A,2024-01-01 20:14:20,10.0,3639.66,Airtime,Out,Safaricom,Safaricom,Airtime Purchase
2904,RLU7NUTO5V,2023-12-30 23:01:54,75.0,337.66,Airtime,Out,Safaricom,Safaricom,Buy Bundles
2909,RLU0LA27AA,2023-12-30 09:53:47,20.0,65.66,Airtime,Out,Safaricom,Safaricom,Buy Bundles

In [130]:
transactions.loc[transactions["Type"] == "Buy Goods",["Account Name"]].groupby("Account Name").value_counts().nlargest(15)

Account Name
HENRY SHOP 4                                    48
NANCY NJERI MUIRURI                             34
STEPHEN GITAU                                   27
MUMBI HOUSE PHARMACEUTICALS LTD                 21
BANUUR         RESTAURANT HALAL         FOOD    11
BAMO CAFETERIA                                   9
EDMUND NDIMU                                     9
NAIVAS MOI AVENUE                                8
HASSAN HUSSAIN   ABDI                            7
IT'S MEATS PARADISE                              7
OPERATION HYDRATE LTD                            7
KINGDONAIRE BUTCHERIES                           6
SIZZLING METRO                                   6
BANUUR RESTAURANT HALAL FOOD                     4
LUCY WAMBUI KARIUKI                              4
Name: count, dtype: int64

In [131]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2916 entries, 0 to 2915
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction code      2916 non-null   object
 1   Date                  2916 non-null   datetime64[ns]
 2   Amount                2916 non-null   float64
 3   Balance               2916 non-null   float64
 4   Type                  2916 non-null   object
 5   Direction             2916 non-null   object
 6   Account ID            2916 non-null   object
 7   Account Name          2916 non-null   object
 8   Original Transaction  2702 non-null   object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 205.2+ KB

In [142]:
transactions.iloc[0]["Date"] - transactions.iloc[-1]["Date"]

Timedelta('365 days 01:43:47')

In [158]:
transactions.columns

Index(['Transaction code', 'Date', 'Amount', 'Balance', 'Type', 'Direction',
       'Account ID', 'Account Name', 'Original Transaction'],
      dtype='object')

In [171]:
for date, df in transactions.groupby(pd.Grouper(key='Date', axis=0,  freq='ME')):
    print("date:",date)
    print(df)

date: 2023-12-31 00:00:00
     Transaction code                Date  Amount  Balance  \
2914       RLT3J51QM5 2023-12-29 15:30:28    69.0   140.66
2915       RLT3J51QM5 2023-12-29 15:30:28  4500.0   209.66
2913       RLT4JVANXS 2023-12-29 18:59:01    50.0    90.66
2912       RLT8KPZNOG 2023-12-29 23:52:09   500.0   590.66
2910       RLT7KPZYVR 2023-12-29 23:52:50     5.0    85.66
2911       RLT7KPZYVR 2023-12-29 23:52:50   500.0    90.66
2909       RLU0LA27AA 2023-12-30 09:53:47    20.0    65.66
2908       RLU4LBDB2G 2023-12-30 10:06:54  3500.0  3565.66
2907       RLU8LBEQCY 2023-12-30 10:07:22   100.0  3465.66
2905       RLU4LC2GAI 2023-12-30 10:13:43    53.0   412.66
2906       RLU4LC2GAI 2023-12-30 10:13:43  3000.0   465.66
2904       RLU7NUTO5V 2023-12-30 23:01:54    75.0   337.66
2903       RLU8NWX51O 2023-12-30 23:56:30    20.0   317.66

                             Type Direction         Account ID  \
2914            Safaricom Charges       Out          Safaricom
2915               Withdraw Money       Out  Agent Till 417479
2913                    Buy Goods       Out            7646487
2912  Receive money from bank/org        In             300600
2910            Safaricom Charges       Out          Safaricom
2911                      Paybill       Out             888880
2909                      Airtime       Out          Safaricom
2908  Receive money from bank/org        In             300600
2907                    Buy Goods       Out            7646487
2905            Safaricom Charges       Out          Safaricom
2906                   Send money       Out      2547******189
2904                      Airtime       Out          Safaricom
2903                      Paybill       Out             826915

                                          Account Name  \
2914                                         Safaricom
2915  Bizarre link Ltd Tuikut Market Westgate Shop Agg
2913                               LUCY WAMBUI KARIUKI
2912                      Equity Bulk Account via API.
2910                                         Safaricom
2911                     KPLC PREPAID Acc. 54607518138
2909                                         Safaricom
2908                      Equity Bulk Account via API.
2907                               LUCY WAMBUI KARIUKI
2905                                         Safaricom
2906                                      HANNAH KAMAU
2904                                         Safaricom
2903                                         Safaricom

                                   Original Transaction
2914                                  Withdrawal Charge
2915  Customer Withdrawal At Agent Till 417479 - Biz...
2913  Merchant Payment to 7646487 - LUCY WAMBUI KARIUKI
2912  Business Payment from 300600 - Equity Bulk Acc...
2910                                    Pay Bill Charge
2911  Pay Bill Online to 888880 - KPLC PREPAID Acc. ...
2909                                        Buy Bundles
2908  Business Payment from 300600 - Equity Bulk Acc...
2907  Merchant Payment to 7646487 - LUCY WAMBUI KARIUKI
2905                  Customer Transfer of Funds Charge
2906  Customer Transfer to - 2547******189 HANNAH KAMAU
2904                                        Buy Bundles
2903  Pay Bill Online to 826915 - Safaricom Offers A...
date: 2024-01-31 00:00:00
     Transaction code                Date  Amount  Balance  \
2902       SA19RJU39L 2024-01-01 08:57:24   200.0   607.66
2901       SA12RQVWII 2024-01-01 10:16:42    20.0   382.66
2900       SA13S99HO1 2024-01-01 13:18:02    20.0   362.66
2899       SA14SABMVC 2024-01-01 13:28:39  4000.0  4362.66
2897       SA15SADPEF 2024-01-01 13:29:09    13.0  3649.66
...               ...                 ...     ...      ...
2676       SAV5NJM5FL 2024-01-31 17:49:27    20.0  1962.91
2675       SAV4NK1BWC 2024-01-31 17:52:14   500.0  2462.91
2674       SAV2NK4Z46 2024-01-31 17:52:55  2180.0   282.91
2673       SAV1NWQJ8D 2024-01-31 19:07:58    75.0   207.91
2672       SAV2OTWE4Y 2024-01-31 23:10:13    20.0   187.91

                             Type Direction Account ID  \
2902                    Buy Goods       Out    7646487
2901                      Paybill       Out     826915
2900                      Paybill       Out     826915
2899  Receive money from bank/org        In     300600
2897            Safaricom Charges       Out  Safaricom
...                           ...       ...        ...
2676                      Airtime       Out  Safaricom
2675  Receive money from bank/org        In     300600
2674                M-Shwari Loan       Out  Safaricom
2673                      Airtime       Out  Safaricom
2672                      Airtime       Out  Safaricom

                      Account Name  \
2902           LUCY WAMBUI KARIUKI
2901                     Safaricom
2900                     Safaricom
2899  Equity Bulk Account via API.
2897                     Safaricom
...                            ...
2676                     Safaricom
2675  Equity Bulk Account via API.
2674                     Safaricom
2673                     Safaricom
2672                     Safaricom

                                   Original Transaction
2902  Merchant Payment to 7646487 - LUCY WAMBUI KARIUKI
2901  Pay Bill Online to 826915 - Safaricom Offers A...
2900  Pay Bill Online to 826915 - Safaricom Offers A...
2899  Business Payment from 300600 - Equity Bulk Acc...
2897                  Customer Transfer of Funds Charge
...                                                 ...
2676                                        Buy Bundles
2675  Business Payment from 300600 - Equity Bulk Acc...
2674                            M-Shwari Loan Repayment
2673                                        Buy Bundles
2672                                        Buy Bundles

[231 rows x 9 columns]
date: 2024-02-29 00:00:00
     Transaction code                Date  Amount  Balance  \
2671       SB16P3TLN0 2024-02-01 07:11:03    60.0   127.91
2670       SB14QHC2CA 2024-02-01 14:49:28    60.0    67.91
2669       SB11SD2YQN 2024-02-01 22:48:59    20.0    47.91
2668       SB27SG76M3 2024-02-02 00:06:47    20.0    27.91
2667       SB29SHFIF1 2024-02-02 01:17:46     5.0    22.91
...               ...                 ...     ...      ...
2428       SBT6J3U0W2 2024-02-29 14:17:15   320.0   654.69
2426       SBT8JVVNCC 2024-02-29 17:47:56   540.0   109.69
2425       SBT2JYA0F4 2024-02-29 18:02:55    80.0    29.69
2424       SBT5KS1PY7 2024-02-29 20:44:30    20.0     9.69
2423       SBT8L5KCPA 2024-02-29 22:49:31  1000.0  1009.69

                             Type Direction     Account ID  \
2671                      Paybill       Out         826915
2670                      Paybill       Out         826915
2669                      Airtime       Out      Safaricom
2668                      Airtime       Out      Safaricom
2667                      Airtime       Out      Safaricom
...                           ...       ...            ...
2428                      Paybill       Out         222111
2426                    Buy Goods       Out        6250913
2425                   Send money       Out  2547******661
2424               No description       Out      Safaricom
2423  Receive money from bank/org        In         300600

                          Account Name  \
2671                         Safaricom
2670                         Safaricom
2669                         Safaricom
2668                         Safaricom
2667                         Safaricom
...                                ...
2428  Family Bank Pesa Pap Acc. 170890
2426                       KUKU SPUR 1
2425                   Hannah Kinuthia
2424                         Safaricom
2423      Equity Bulk Account via API.

                                   Original Transaction
2671  Pay Bill Online to 826915 - Safaricom Offers A...
2670  Pay Bill Online to 826915 - Safaricom Offers A...
2669                                        Buy Bundles
2668                                        Buy Bundles
2667                                 Buy Bundles Online
...                                                 ...
2428  Pay Bill to 222111 - Family Bank Pesa Pap Acc....
2426          Merchant Payment to 6250913 - KUKU SPUR 1
2425  Customer Transfer to - 2547******661 Hannah Ki...
2424                                                NaN
2423  Business Payment from 300600 - Equity Bulk Acc...

[249 rows x 9 columns]
date: 2024-03-31 00:00:00
     Transaction code                Date  Amount  Balance  \
2422       SC16MZJF46 2024-03-01 14:53:17    30.0   979.69
2421       SC17O0QRNR 2024-03-01 19:01:07  8000.0  8979.69
2419       SC15OFCFIB 2024-03-01 20:12:02     7.0  8472.69
2420       SC15OFCFIB 2024-03-01 20:12:02   500.0  8479.69
2417       SC17OLQSWL 2024-03-01 20:48:51     7.0  8215.69
...               ...                 ...     ...      ...
2105       SCV0PY0QMS 2024-03-31 17:17:37   200.0  4673.69
2102       SCV5QSTIK9 2024-03-31 20:36:01    13.0  3963.69
2103       SCV5QSTIK9 2024-03-31 20:36:01   690.0  3976.69
2101       SCV2QT1W3G 2024-03-31 20:37:36    40.0  3923.69
2100       SCV0QTAHBM 2024-03-31 20:39:09    70.0  3853.69

                             Type Direction   Account ID  \
2422                    Buy Goods       Out      7855282
2421  Receive money from bank/org        In       300600
2419            Safaricom Charges       Out    Safaricom
2420                   Send money       Out  01******675
2417            Safaricom Charges       Out    Safaricom
...                           ...       ...          ...
2105                   Send money       Out  07******077
2102            Safaricom Charges       Out    Safaricom
2103            Pochi la Biashara       Out  01******045
2101                    Buy Goods       Out      7855282
2100                    Buy Goods       Out      7855282

                      Account Name  \
2422                  HENRY SHOP 4
2421  Equity Bulk Account via API.
2419                     Safaricom
2420                 sarabel odero
2417                     Safaricom
...                            ...
2105                 Claudia kamau
2102                     Safaricom
2103               joseph m'mworia
2101                  HENRY SHOP 4
2100                  HENRY SHOP 4

                                   Original Transaction
2422         Merchant Payment to 7855282 - HENRY SHOP 4
2421  Business Payment from 300600 - Equity Bulk Acc...
2419                  Customer Transfer of Funds Charge
2420   Customer Transfer to - 01******675 sarabel odero
2417                  Customer Transfer of Funds Charge
...                                                 ...
2105   Customer Transfer to - 07******077 Claudia kamau
2102                  Customer Transfer of Funds Charge
2103  Customer Payment to Small Business to - 01****...
2101         Merchant Payment to 7855282 - HENRY SHOP 4
2100         Merchant Payment to 7855282 - HENRY SHOP 4

[323 rows x 9 columns]
date: 2024-04-30 00:00:00
     Transaction code                Date  Amount   Balance  \
2098       SD18S48VEI 2024-04-01 11:19:21     7.0   3596.69
2099       SD18S48VEI 2024-04-01 11:19:21   250.0   3603.69
2096       SD17SBBMZZ 2024-04-01 12:20:31     7.0   3339.69
2097       SD17SBBMZZ 2024-04-01 12:20:31   250.0   3346.69
2095       SD10SSGYW2 2024-04-01 14:41:07   500.0   2839.69
...               ...                 ...     ...       ...
1928       SDN848TBNI 2024-04-23 21:39:20   150.0  11620.69
1927       SDN148WC0P 2024-04-23 21:40:09    80.0  11700.69
1926       SDN34BS1SV 2024-04-23 22:09:12   160.0  11860.69
1925       SDN64BTIKE 2024-04-23 22:09:34   450.0  11410.69
1924       SDN04E4KN0 2024-04-23 22:43:03    75.0  11335.69

                   Type Direction     Account ID       Account Name  \
2098  Safaricom Charges       Out      Safaricom          Safaricom
2099         Send money       Out  2547******886          JOY NGUGI
2096  Safaricom Charges       Out      Safaricom          Safaricom
2097  Pochi la Biashara       Out  2547******693    PETERSON MWANGI
2095          Buy Goods       Out        7527617  Naivas  Lifestyle
...                 ...       ...            ...                ...
1928      Receive money        In    07******561        Edwin Kabue
1927      Receive money        In    07******561        Edwin Kabue
1926      Receive money        In    07******774       LLOYD MUKONO
1925          Buy Goods       Out         661530     BAMO CAFETERIA
1924     No description       Out      Safaricom          Safaricom

                                   Original Transaction
2098                  Customer Transfer of Funds Charge
2099     Customer Transfer to - 2547******886 JOY NGUGI
2096                  Customer Transfer of Funds Charge
2097  Customer Payment to Small Business to - 2547**...
2095    Merchant Payment to 7527617 - Naivas  Lifestyle
...                                                 ...
1928      Funds received from - 07******561 Edwin Kabue
1927      Funds received from - 07******561 Edwin Kabue
1926     Funds received from - 07******774 LLOYD MUKONO
1925        Merchant Payment to 661530 - BAMO CAFETERIA
1924                                                NaN

[176 rows x 9 columns]
date: 2024-05-31 00:00:00
     Transaction code                Date  Amount   Balance  \
1922       SE19UJUML7 2024-05-01 12:53:15    13.0   6153.69
1923       SE19UJUML7 2024-05-01 12:53:15  1000.0   6166.69
1921       SE12ULOH50 2024-05-01 13:08:12    30.0   6123.69
1920       SE11UP9NZ9 2024-05-01 13:36:13    50.0   6073.69
1919       SE14UV1FXO 2024-05-01 14:20:58  3540.0   2533.69
...               ...                 ...     ...       ...
1598       SEV9ZHC1QD 2024-05-31 19:21:04  2000.0  13544.69
1597       SEV8ZVNOXC 2024-05-31 20:35:18    40.0  13504.69
1595       SEV2ZW893K 2024-05-31 20:38:37    29.0  13175.69
1596       SEV2ZW893K 2024-05-31 20:38:37   300.0  13204.69
1594       SEV81080FY 2024-05-31 21:03:49    70.0  13105.69

                   Type Direction         Account ID  \
1922  Safaricom Charges       Out          Safaricom
1923         Send money       Out        07******561
1921         Send money       Out      2547******599
1920  Pochi la Biashara       Out      2547******915
1919          Buy Goods       Out             130341
...                 ...       ...                ...
1598      Receive money        In      2547******241
1597  Pochi la Biashara       Out        07******063
1595  Safaricom Charges       Out          Safaricom
1596     Withdraw Money       Out  Agent Till 392699
1594         Send money       Out        07******865

                                Account Name  \
1922                               Safaricom
1923                             Edwin Kabue
1921                          SAMWEL KAMONGO
1920                             MARY WAMBUI
1919         MUMBI HOUSE PHARMACEUTICALS LTD
...                                      ...
1598                           Elijah Mungai
1597                             SUSAN KAMAU
1595                               Safaricom
1596  Jogwa Constractors Limited Sala Centre
1594                            joshwa osano

                                   Original Transaction
1922                  Customer Transfer of Funds Charge
1923     Customer Transfer to - 07******561 Edwin Kabue
1921  Customer Transfer to - 2547******599 SAMWEL KA...
1920  Customer Payment to Small Business to - 2547**...
1919  Merchant Payment to 130341 - MUMBI HOUSE PHARM...
...                                                 ...
1598  Funds received from - 2547******241 Elijah Mungai
1597  Customer Payment to Small Business to - 07****...
1595                                  Withdrawal Charge
1596  Customer Withdrawal At Agent Till 392699 - Jog...
1594    Customer Transfer to - 07******865 joshwa osano

[330 rows x 9 columns]
date: 2024-06-30 00:00:00
     Transaction code                Date  Amount   Balance  \
1593       SF102DPT8S 2024-06-01 11:08:48  1500.0  14605.69
1592       SF132I3J6F 2024-06-01 11:44:06  1000.0  15605.69
1591       SF112PQXTL 2024-06-01 12:44:41   500.0  16105.69
1590       SF182U7S1K 2024-06-01 13:19:09  2000.0  18105.69
1589       SF1031Z3IU 2024-06-01 14:17:10  1000.0  19105.69
...               ...                 ...     ...       ...
1397       SFT91AGQE7 2024-06-29 16:58:03   750.0   2363.30
1394       SFU840IB96 2024-06-30 12:23:30    23.0    827.30
1395       SFU840IB96 2024-06-30 12:23:30  1500.0    850.30
1393       SFU341J2LL 2024-06-30 12:32:17    30.0    797.30
1392       SFU05IGC22 2024-06-30 18:54:58   220.0    577.30

                   Type Direction     Account ID         Account Name  \
1593      Receive money        In    07******561          Edwin Kabue
1592      Receive money        In    07******709      FRANCIS WANJIRU
1591      Receive money        In    07******561          Edwin Kabue
1590      Receive money        In  2547******650       Virginia Kamau
1589      Receive money        In    07******774         LLOYD MUKONO
...                 ...       ...            ...                  ...
1397         Send money       Out  2547******053         VIOLET KABEI
1394  Safaricom Charges       Out      Safaricom            Safaricom
1395         Send money       Out  2547******137           PAUL KAMAU
1393         Send money       Out    07******354         robin wabule
1392          Buy Goods       Out        7315052  NANCY NJERI MUIRURI

                                   Original Transaction
1593      Funds received from - 07******561 Edwin Kabue
1592  Funds received from - 07******709 FRANCIS WANJIRU
1591      Funds received from - 07******561 Edwin Kabue
1590  Funds received from - 2547******650 Virginia K...
1589     Funds received from - 07******774 LLOYD MUKONO
...                                                 ...
1397  Customer Transfer to - 2547******053 VIOLET KABEI
1394                  Customer Transfer of Funds Charge
1395    Customer Transfer to - 2547******137 PAUL KAMAU
1393    Customer Transfer to - 07******354 robin wabule
1392  Merchant Payment to 7315052 - NANCY NJERI MUIRURI

[202 rows x 9 columns]
date: 2024-07-31 00:00:00
     Transaction code                Date   Amount  Balance  \
1391       SG137CPTV9 2024-07-01 10:29:40  22750.0  23327.3
1390       SG137HWPVB 2024-07-01 11:09:24  22750.0    577.3
1389       SG12828720 2024-07-01 13:39:30     30.0    547.3
1388       SG128309V6 2024-07-01 13:44:54     75.0    472.3
1387       SG1786J4Q9 2024-07-01 14:09:45     52.0    420.3
...               ...                 ...      ...      ...
1180       SGU0CHJ8YA 2024-07-30 14:44:24      7.0  35129.3
1181       SGU0CHJ8YA 2024-07-30 14:44:24    460.0  35136.3
1179       SGU4DEXCEI 2024-07-30 18:27:02   1000.0  34129.3
1178       SGV6FKVAI2 2024-07-31 10:58:56  10000.0  44129.3
1177       SGV3FLKMMX 2024-07-31 11:04:29  10000.0  34129.3

                   Type Direction     Account ID  \
1391      Receive money        In  2547******725
1390            Paybill       Out         859528
1389         Send money       Out    07******137
1388     No description       Out      Safaricom
1387          Buy Goods       Out        6710441
...                 ...       ...            ...
1180  Safaricom Charges       Out      Safaricom
1181         Send money       Out    07******198
1179     No description       Out      Safaricom
1178      Receive money        In    07******025
1177            Paybill       Out         859528

                        Account Name  \
1391                     IDA ONYANGO
1390     MALI Acc. 0702605230_401449
1389                STANELY MUREITHI
1388                       Safaricom
1387  METROTRANS EAST AFRICA LIMITED
...                              ...
1180                       Safaricom
1181                 Josephine Mutua
1179                       Safaricom
1178                   casmir maturi
1177     MALI Acc. 0702605230_401449


In [174]:
grouped_data = transactions.groupby(pd.Grouper(key='Date', axis=0,  freq='ME'))
mapped_amounts = {}

for date, df in grouped_data:
    month_year = date.strftime("%b-%Y")
    amount_in = float(df[df.Direction == "In"]["Amount"].sum())
    amount_out = float(df[df.Direction == "Out"]["Amount"].sum())
    amounts = {"In":amount_in, "Out":amount_out}
    mapped_amounts[month_year] = amounts
mapped_amounts

{'Dec-2023': {'In': 4000.0, 'Out': 8392.0},
 'Jan-2024': {'In': 57430.0, 'Out': 46585.0},
 'Feb-2024': {'In': 47410.0, 'Out': 46338.22},
 'Mar-2024': {'In': 101580.0, 'Out': 98736.0},
 'Apr-2024': {'In': 51168.0, 'Out': 43686.0},
 'May-2024': {'In': 271750.0, 'Out': 265811.0},
 'Jun-2024': {'In': 146900.0, 'Out': 159428.39},
 'Jul-2024': {'In': 333526.0, 'Out': 299974.0},
 'Aug-2024': {'In': 126643.0, 'Out': 160578.0},
 'Sep-2024': {'In': 195221.0, 'Out': 194578.0},
 'Oct-2024': {'In': 143616.0, 'Out': 140512.0},
 'Nov-2024': {'In': 93876.63, 'Out': 94360.91},
 'Dec-2024': {'In': 73985.0, 'Out': 64819.0}}

In [134]:
transactions.groupby(transactions["Date"].dt.month)["Amount"].sum()

Date
1     104015.00
2      93748.22
3     200316.00
4      94854.00
5     537561.00
6     306328.39
7     633500.00
8     287221.00
9     389799.00
10    284128.00
11    188237.54
12    151196.00
Name: Amount, dtype: float64